/* 清除浮動 */
.chat-container::after {
  content: "";
  display: table;
  clear: both;
}

.chat-input {
  display: flex;
  justify-content: center;
  margin: auto;
  clear: both;
  width: 100%;
  
}

.chat-input input {
  margin-right: 20px;
  padding: 10px;
  flex: 3;
  border-radius: 10px;
}

.chat-input button {
  padding: 10px;
  background-color: #f76f91;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
  