.chat-messages {
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-y: auto;
  flex: 0 1 auto;
  white-space: pre-wrap; /* 保留換行與空白 */
}

.chat-messages .message {
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 5px;
  line-height: 2;
  word-wrap: break-word;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 10px;
}

.user-message {
  color: white;
  max-width: 85%;
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
  background-size: 400% 400%;
  border-radius: 10px;
  position: relative;
  align-self: flex-end;
  text-align: left;
  margin-right: 5px;
}

.ai-message {
  background-color: #f9f9f9;
  max-width: 85%;
  margin-left: 5px;
  align-self: flex-start;
  text-align: left;
  
}


/* Markdown 通用樣式 */
.inline-code {
  font-family: 'Fira Code', monospace;
  background: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}
.code-block {
  max-width: 100%;
  position: relative;
  background: #e7e7e7;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  margin: 1rem 0;
}
/* 代碼塊添加複製按鈕 (進階功能) */

.copy-button {
  background-color: #f0f0f0;
  position: absolute;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.copy-button:hover {
  opacity: 1;
}