.chatbot-toggle {
  position: fixed;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
  background-size: 200% 150%;
  animation: gradientAnimation 15s ease infinite;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  user-select: none;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
}

.chatbot-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* 聊天框固定在按鈕旁邊 */
.top-left-window {
  border-radius: 20px;
  position: fixed;
  bottom: 85px; /* 與按鈕的間距 */
  right: 60px; /* 與按鈕對齊 */
  width: 350px;
  height: 450px;
  background-color: white;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: column; /* 垂直排列子元素 */
  overflow: hidden;
}

.chat-input-container {
  margin-top: auto; /* 將 ChatInput 推到最底部 */
  flex-shrink: 0; /* 防止輸入框被壓縮 */
  padding: 10px;
  background-color: #fff;  
}

.chatbot-header {
  /* background: linear-gradient(45deg, #9599e2, #8bc6ec); */
  background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59, #c471ed, #12c2e9);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: white;
  text-align: center;
  font-weight: bold;
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}